body {
    background-color: rgb(85, 85, 85);
  }
  
  h1 {
    color: rgb(255, 0, 0);
    text-align: center;
  }
  
 p {
    
    font-family: verdana;
    font-size: 20px;
  }
  .background{
    align-self: center;
    width: fit-content ;
    margin: auto;
  }
  .colonneA{
    align-content: center;
    width: 33% ;
    margin: left;
  }
  .colonneB{
    align-content: center;
    padding-left: 33%;
    width: 33% ;
    margin: center;
  }
  .colonneC{
    align-content: center;
    padding-left: 66%;
    width: 33% ;
    margin: right;
  }
  .tier{
    width: 33% ;
  }
  table {
    
    margin: left;
  }